body {
  marigin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}
a {
  color: black;
}
header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquaMarine;
}
.logo img {
  padding-right: 15px;
}
.content {
  display: flex;
  border: 1px black;
}
.content .first {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 630px;
}
.content .second {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 300px;
}
.content .third {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 240px;
}
.content .first .orca {
}
.content .first .phish .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.content .first .earth {
}
.content .first .burger {
}
.content .first .memory {
}
